.container {
  width: 2350px;

  nav {
    background-color: red;
    position: absolute;
    top: 0;
    height: 5.5em;
    width: 100%;
    display: block;

    h1 {
      display: block;
      margin: 0;
    }
  }
}